<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Contact Mapper with Nested Results for Collection -->
<mapper namespace="com.home.springmybatis.persistence.ContactMapper">

    <resultMap id="contactResultMap" type="Contact">
        <id property="id" column="contact_id" />
        <result property="firstName" column="first_name" />
        <result property="lastName" column="last_name" />
        <result property="birthDate" column="birth_date" />
    </resultMap>

    <!--<resultMap id="contactResultDetailMap" type="Contact">-->
        <!--<id property="id" column="contact_id"/>-->
        <!--<result property="firstName" column="first_name" />-->
        <!--<result property="lastName" column="last_name" />-->
        <!--<result property="birthDate" column="birth_date" />-->
        <!--<collection property="contactTelDetails" ofType="ContactTelDetail"-->
                    <!--column="contact_id" select="selectTelDetailsForContact">-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--Modified result map with hobbies-->
    <resultMap id="contactResultDetailMap" type="Contact">
        <id property="id" column="contact_id"/>
        <result property="firstName" column="first_name" />
        <result property="lastName" column="last_name" />
        <result property="birthDate" column="birth_date" />
        <collection property="contactTelDetails" ofType="ContactTelDetail">
            <id property="id" column="contact_tel_detail_id" />
            <result property="telType" column="tel_type"></result>
            <result property="telNumber" column="tel_number"></result>
        </collection>
        <collection property="hobbies" ofType="Hobby">
            <result property="hobbyId" column="hobby_id"/>
        </collection>
    </resultMap>

    <resultMap id="contactTelDetailResultMap" type="ContactTelDetail">
        <id property="id" column="contact_tel_detail_id" />
        <result property="telType" column="tel_type" />
        <result property="telNumber" column="tel_number"/>
    </resultMap>

    <!--<select id="findAllWithDetail" resultMap="contactResultDetailMap">-->
        <!--SELECT-->
        <!--c.contact_id,-->
        <!--c.first_name,-->
        <!--c.last_name,-->
        <!--c.birth_date-->
        <!--FROM contact c-->
    <!--</select>-->

    <!-- Modified select with hobby -->
    <select id="findAllWithDetail" resultMap="contactResultDetailMap">
        SELECT
        c.contact_id,
        c.first_name,
        c.last_name,
        c.birth_date,
        t.contact_tel_detail_id,
        t.tel_type,
        t.tel_number,
        h.hobby_id
        FROM contact c
        LEFT OUTER JOIN contact_tel_detail t ON c.contact_id = t.contact_id
        LEFT OUTER JOIN contact_hobby_detail h ON c.contact_id = h.contact_id
    </select>

    <select id="selectTelDetailsForContact" parameterType="long"
            resultType="ContactTelDetail" resultMap="contactTelDetailResultMap">
        SELECT
        contact_tel_detail_id,
        tel_type,
        tel_number
        FROM contact_tel_detail WHERE contact_id=#{id}
    </select>

    <select id="findAll" resultMap="contactResultMap">
        SELECT
        contact_id,
        first_name,
        last_name,
        birth_date
        FROM CONTACT
    </select>

    <select id="findById" parameterType="long" resultMap="contactResultDetailMap">
        SELECT
        c.contact_id,
        c.first_name,
        c.last_name,
        c.birth_date,
        t.contact_tel_detail_id,
        t.tel_type,
        t.tel_number,
        h.hobby_id
        FROM contact c
        LEFT OUTER JOIN contact_tel_detail t ON c.contact_id = t.contact_id
        LEFT OUTER JOIN contact_hobby_detail h ON c.contact_id = h.contact_id
        WHERE  c.contact_id = #{id}
    </select>

    <select id="findByFirstNameAndLastName" parameterType="SearchCriteria" resultMap="contactResultDetailMap">
               SELECT
        c.contact_id,
        c.first_name,
        c.last_name,
        c.birth_date,
        t.contact_tel_detail_id,
        t.tel_type,
        t.tel_number,
        h.hobby_id
        FROM contact c
        LEFT OUTER JOIN contact_tel_detail t ON c.contact_id = t.contact_id
        LEFT OUTER JOIN contact_hobby_detail h ON c.contact_id = h.contact_id
        <where>
            <if test="firstName != null">
                first_name = #{firstName}
            </if>
            <if test="lastName != null">
                AND last_name = #{lastName}
            </if>
        </where>
    </select>

    <insert id="insertContact" parameterType="Contact" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO contact(first_name, last_name, birth_date)
        VALUES (#{firstName}, #{lastName}, #{birthDate})
    </insert>

    <update id="updateContact" parameterType="Contact">
        UPDATE contact SET
        first_name = #{firstName},
        last_name = #{lastName},
        birth_date = #{birthDate}
        WHERE contact_id = #{id}
    </update>

    <delete id="deleteContact" parameterType="long">
        DELETE FROM contact WHERE contact_id = #{id}
    </delete>
</mapper>